@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	margin:0; padding:0;
	font-family: 'Nanum Gothic', serif;
	font-size: 1em;
	box-sizing: border-box;
	color:#595959;
}

/*
color
default : #595959;
active : #3C9CF6;
*/

html,body { height: 100%;}
li { list-style: none; }
a { text-decoration: none; }
.clearfix:before { display: block; }
.clearfix:after { display: block; clear: both; content: ''; *zoom:1; }


.wrap {width:1100px;background-color:#f1f1f1;height: 100%; position:relative; }
.aside {
	background-color: #FFF;
	position: fixed;
	left:0;
	top:0;
	width:200px;
	height: 100%;
	box-shadow: -5px 5px 0 gray;
}

.brend {
	text-align : center;
	margin:20px 0;
	font-size:25px;
	text-transform: uppercase;
	font-weight: 100;
}

nav.gnb { width: 100%; padding:20px; }
nav.gnb > ul { width: 100%; }
nav.gnb > ul > li { margin:15px 0; font-size:25px;}
nav.gnb > ul > li.active > a { border-bottom: 2px solid #3C9CF6; color:#3C9CF6; }
nav.gnb > ul > li > a { display:block; padding-bottom: 5px; border-bottom: 2px solid #FFF; }


.contents { width: 900px;height: 100%; margin-left:200px;}
.contents { padding: 20px; }
.contents > .page-haed { width:100%; padding:10px;  }
.contents > .page-haed > p.notice { display:inline-block; }

.main-box { width:100%; background: blue; height: 300px;margin-bottom: 30px;  }
.post-box { width: 200px; height: 300px; border: 1px solid #6D6D6D; float: left; margin:0 20px 20px 0;}
.post-box:nth-child(4n+2) { margin-right:0;}


